:root {
    --color-fade-black-50: transparent;
}

.SelectMenu-modal, .dropdown-menu, .Popover-message.Box, .Box--overlay, .select-menu-modal, .autocomplete-results, .suggester {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.SelectMenu-item, .SelectMenu-list {
    background-color: transparent;
}

.Box--overlay {
    background-color: var(--color-bg-overlay);
}

.Box--overlay * {
    --color-bg-primary: transparent!important;
}

.SelectMenu--hasFilter .SelectMenu-modal {
    margin-top: auto;
    margin-bottom: 0;
}

.SelectMenu {
    padding: 8px;
}

.SelectMenu-tab {
    margin: 4px 2px;
    border-radius: 6px;
}

.SelectMenu-tab[aria-selected=true] {
    box-shadow: 0 4px 12px #0002;
}

.user-status-circle-badge {
    --color-bg-primary: #fff4;
    --color-border-primary: #fff1;
    backdrop-filter: blur(16px);
}

@media (prefers-color-scheme: dark) {
    [data-color-mode=auto] .SelectMenu-tab[aria-selected=true] {
        border-color: transparent;
        background-color: #30363d;
    }
    [data-color-mode=auto] .user-status-circle-badge {
        --color-bg-primary: #0004;
        --color-border-primary: #0001;
    }
}

[data-color-mode=dark] .SelectMenu-tab[aria-selected=true] {
    border-color: transparent;
    background-color: #30363d;
}

[data-color-mode=dark] .user-status-circle-badge {
    --color-bg-primary: #0004;
    --color-border-primary: #0001;
}

@keyframes fadein-scalein {
    0% {
        transform: scale(.95);
        opacity: 0;
    }
}

.Popover-message.Box, details>*:not(summary), .autocomplete-results, .suggester, .anim-scale-in {
    animation: fadein-scalein .15s cubic-bezier(0, 0.5, 0.5, 1);
}