:root {
    --color-fade-black-50: transparent;
}

.SelectMenu-modal, .dropdown-menu, .Popover-message.Box, .Box--overlay, .select-menu-modal, .autocomplete-results, .suggester {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.SelectMenu-item, .SelectMenu-list {
    background-color: transparent;
}

.Box--overlay {
    background-color: var(--color-bg-overlay);
}

.Box--overlay * {
    --color-bg-primary: transparent!important;
}

.SelectMenu--hasFilter .SelectMenu-modal {
    margin-top: auto;
    margin-bottom: 0;
}

.SelectMenu {
    padding: 8px;
}

.SelectMenu-tab {
    margin: 4px 2px;
    border-radius: 6px;
}

.SelectMenu-tab[aria-selected=true] {
    box-shadow: 0 4px 12px #0002;
}

.user-status-circle-badge {
    --color-bg-primary: #fff4;
    --color-border-primary: #fff1;
    backdrop-filter: blur(16px);
}

@media (prefers-color-scheme: dark) {
    [data-color-mode=auto] .SelectMenu-tab[aria-selected=true] {
        border-color: transparent;
        background-color: #30363d;
    }
    [data-color-mode=auto] .user-status-circle-badge {
        --color-bg-primary: #0004;
        --color-border-primary: #0001;
    }
}

[data-color-mode=dark] .SelectMenu-tab[aria-selected=true] {
    border-color: transparent;
    background-color: #30363d;
}

[data-color-mode=dark] .user-status-circle-badge {
    --color-bg-primary: #0004;
    --color-border-primary: #0001;
}

@keyframes fadein-scalein {
    0% {
        transform: scale(.95);
        opacity: 0;
    }
}

.Popover-message.Box, details>*:not(summary), .autocomplete-results, .suggester, .anim-scale-in {
    animation: fadein-scalein .15s cubic-bezier(0, 0.5, 0.5, 1);
}

[data-gheh-section-type="releases"] .Link--primary.d-flex.no-underline {
    width: calc(100% + 16px);
    margin-left: -8px;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid;
    border-color: transparent;
    transition: .2s cubic-bezier(.3, 0, .5, 1);
    transition-property: color, background-color, border-color;
}

[data-gheh-section-type="releases"] .Link--primary.d-flex.no-underline:hover {
    border-color: var(--color-btn-border);
}

[data-gheh-section-type="releases"] .Link--primary.d-flex.no-underline:active {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-active-border);
}

.avatar, .avatar-user {
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.avatar:hover, .avatar-user:hover {
    transform: scale(1.5) translate(0, -10%);
    box-shadow: 0 8px 24px #0004;
}

.js-pinned-item-list-item.Box:hover {
    background-color: var(--color-bg-secondary);
}

.Box-row--focus-gray.navigation-focus {
    background-color: transparent;
}

.Box-row:hover {
    background-color: var(--color-bg-secondary);
}